# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Linux
.vscode/

# common
3dmodels/

#windows
.vs
CheapMeshStereo/winlib/
Debug/
Release/

#libs
OpenCV-android-sdk-4.8.0/
tryout/sceneflow_right_cache
tryout/sceneflow_left_cache
tryout/sceneflow_disp_cache
tryout/nets/standard_matching_best(71%).pth
